[submodule "projects/events-ticketing-system-berlin"]
	path = projects/events-ticketing-system-berlin
	url = https://github.com/RamezMilad-1/events-ticketing-system-berlin.git
[submodule "projects/nyc-collision-studio"]
	path = projects/nyc-collision-studio
	url = https://github.com/RamezMilad-1/NYC-Collision-Studio.git
[submodule "projects/restaurant-reservation-system"]
	path = projects/restaurant-reservation-system
	url = https://github.com/kiroreda963/restaurant-reservation-system.git
[submodule "projects/semester-5-software-project"]
	path = projects/semester-5-software-project
	url = https://github.com/WefhLNUE/semester-5-software-project.git
